@media(max-width: 700px) {
    label[for="icon"] {
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .icon {
        z-index: 3;
        position: fixed;
        right: 20px;
        top: 22px;
    }

    label[for="icon"]>span {
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 2px;
    }

    input[type="checkbox"]:checked+.phone-view {
        right: 0;
    }

    .phone-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        min-height: 100%;
        background-image: url(/assets/images/Image.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* min-height: 100vh;
        min-width: 100vh; */
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 500ms linear;
        z-index: 2;
        margin: 0;
    }

    .large-view>.l1 {
        display: none;
    }
}



@media (min-width: 700px) {
    .large-view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ml-31 {
        margin-left: 31px;
    }

    .mr-32 {
        margin-right: 32px;
    }

    .mr-33 {
        margin-right: 33px;
    }

    .phone-view {
        display: none;
    }

}